.expo/

# dependencies
node_modules/

# Expo
web-build/
dist/

# React Native
android/
ios/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# env files (keep examples committed separately)
.env
.env.*
!.env.example
